<div class="container">
    <!-- here gose the fillter -->

    <div class="card" style="width: 100%; border: solid 5px #f4f5f7;">
        <div class="card-body">
            <form action="" class="form-group">
                <div class="row"> 
                    <div class="col-md-3"> <!-- Country -->
                        <label for="" class="form-group">Country </label>
                        <select class="custom-select">
                            <option value="" class="form-group">Saudi Arabia</option>
                            <option value="" class="form-group">Egypt</option>
                            <option value="" class="form-group">Jordan</option>
                        </select>
                    </div> <!--End of Col-->

                    <div class="col-md-3"> <!-- Country -->
                        <label for="" class="form-group">Level</label>
                        <select class="custom-select">
                            <option value="" class="form-group">Entry Level</option>
                            <option value="" class="form-group">Senior</option>
                        </select>
                    </div> <!--End of Col-->

                    <div class="col-md-3"> <!-- Country -->
                        <label for="" class="form-group">Field </label>
                        <select class="custom-select">
                            <option value="" class="form-group">Engineering</option>
                            <option value="" class="form-group">Sales</option>
                            <option value="" class="form-group">Medical,Healthcare</option>
                        </select>
                    </div> <!--End of Col-->

                    

                </div> <!-- End of Row -->
                
            </form>
        </div>

        <div class="card ml-4 mr-4 mb-4" style="width: 95%; border: solid 1px #5e72e4; " *ngFor="let job of jobs">
            <div class="card-body">
                <h5 class="card-title">{{job.title}}</h5>
                <img src="https://picsum.photos/seed/picsum/150/150" alt="" class="img-fluid rounded shadow card-title">
                <h6 class="card-subtitle mb-2 text-muted">Abdullah A. Barrak & Sons Co.</h6>
                <p class="card-text">Coordinate meetings, arrange for conference rooms, equipment and organize material for meetings, presentations, and training sessions on the share drives while maintaining version control.</p>
                <a href="#" class="btn btn-primary">View More info</a>
                <a href="#" class="btn btn-info">Apply</a>
            </div>
        </div> <!--End of job-->


    </div>
</div>